@model GetListOfAPIs


@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="display-8">Core-i Solutions</h1>
        <p> Core-i RST IBMi Server Consumable Sample SQLRPGLE API's</p>
        <p> This list of sample API's is pulled directly from the IBMi Core-iRST API library.</p>

        <div class="col-3">
            <a button class="btn btn-info form-control text-white" typeof="button" onclick="location.href='@Url.Action("coreiOverview")'">Display Core-i RST Overview</button></a>
            <p>
                <br />
            </p>
        </div>


        @if (Model.success == 1)
        {

            <table class="table table-bordered table-hover">
                <tr class="table-danger">
                    <th>API Library</th>
                    <th>API Command</th>
                    <th>IBM i Program</th>
                    <th>Request Example</th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model.list)

                {
            <tr class="table-info">
                <td>@item.apiLibrary</td>
                <td>@item.apiCommand</td>
                <td>@item.ibmiPgm</td>
                <td>
                    <dd>

                        @if (@item.firstChar == "{")
                        {
                            <pre>@Newtonsoft.Json.Linq.JToken.Parse(@item.requestExample).ToString()</pre>
                        }
                        else
                        {
                           <pre>@item.requestExample</pre>
                        }
                    </dd>
                </td>


                    <td>
                        <!-- url.action does not have access to browser side variables (only server side)-->
                        <button class="btn btn-info form-control text-white" typeof="button" onclick="location.href='@Url.Action("modifyAPIRequest", "", new { displayOnly = true,  apiLibrary = item.apiLibrary, apiCommand = item.apiCommand, requestExample = item.requestExample })'">Modify Request Example</button>
                        <button class="btn btn-info form-control text-white" typeof="button" onclick="location.href='@Url.Action(item.apiCommand, "", new { jsonRequest = item.requestExample })'">Consume IBMi Core-iRST API</button>
                    </td>
                </tr>
                }

            </table>
        }
        else
        {

            <dl class="row table table-bordered table-hover">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.resultMessage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.resultMessage)
                </dd>


            </dl>

        }


    </div>
