@model ModifyAPIRequest


@{
    ViewData["Title"] = "ModifyAPIRequest";
}

    <div class="text-center">
        <h1 class="display-8">Core-i Solutions</h1>
        <p> Core-i RST Modify API Request Example</p>

        <div class="col-3">
            <a button class="btn btn-info form-control text-white" typeof="button" onclick="location.href='@Url.Action("Index")'">Back To API List</button></a>
            <p>
                <br />
            </p>
        </div>


        @if (Model.success == 1)
        {
            string requestExample = Model.list[0].requestExample;

            <!-- html.beginform allows browser/server side variables to be passed to controller)-->
            using (Html.BeginForm("modifyAPIRequest", ""

                    , new
                    {
                        displayOnly = false
                           ,
                        apiLibrary = Model.list[0].apiLibrary
                           ,
                        apiCommand = Model.list[0].apiCommand
                           ,
                        onsubmit = "return requestExample"
                    }
                    , FormMethod.Post

                    ))

            {

                <d1>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.list[0].apiLibrary)
                    </dt>
                    <dd class="col-sm-10" name="apiLibrary">
                        @Html.DisplayFor(model => model.list[0].apiLibrary)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.list[0].apiCommand)
                    </dt>
                    <dd class="col-sm-10" name="apiCommand">
                        @Html.DisplayFor(model => model.list[0].apiCommand)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.list[0].requestExample)
                    </dt>

                    <dd>

                        @if (Model.list[0].firstChar == "{")
                        {
                            <pre style="color:darkturquoise;">@Newtonsoft.Json.Linq.JToken.Parse(@requestExample).ToString()</pre>
                        }
                        else
                        {
                             <pre style="color:darkturquoise;">@requestExample</pre>
                        }
                    </dd>
                </d1>

                <form action="home/modifyAPIRequest" method="POST">
                    <label for="requestExample">API Request Example:</label>
                    <input type="text" name="requestExample" size="100" value=@requestExample><br><br>
                    <input type="submit" value="Update Request Example" class="btn btn-primary" />
                </form>

            }

        }
        else
        {

            <d2 style="color:red;">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.resultMessage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.resultMessage)
                </dd>

            </d2>

        }



    </div>

